*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background: url(https://wallpapers.com/images/hd/snake-game-1680-x-1050-background-6syqer1fr6oahe0b.jpg);
  background-repeat:no-repeat ;
  background-size: 100% 100vh;
}

#gameover{
  color: black;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 16vw;
}

#phrase{
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  color: black;
  margin-top: 2vw;
}

#yourscore{
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 2vw;
  
}

#restart{
  cursor: pointer;
  font-weight: 800;
  border: 3px solid black;
  background:black;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 30px;
  margin-left: 45vw;
  line-height: 100px;

}

@media (max-width:600px) {
  #snakeboard{
    width: 100%;
  }
}

@media(max-width:470px) {
  body{
    background-repeat:no-repeat ;
    background-size:100% 100vh;
    font-size: 10px ;
    text-align: center;
    align-content: center;
    
  }
  a{
    margin-left: 0px;
  }
} 


