*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#play-button{ 
  margin-left: 70vw;
  margin-top: -35vw;
}

#start-game{
  font-size: 50px;
  margin-left: 77vw;
  margin-top: -4vw;
  
}

#instructions-page{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-left: 82vw;
  
}

#instructions-page:hover{
  text-decoration: underline;
}

#images{
  display: flex;
}

@media(max-width:470px){
  #snake{
    height: 200px;
    margin-top: 50%;
  }
  #logo{
    height: 50px;
    margin-top: 30%;
  }
  #play-button{
    height: 40px;
    margin-left: 30vw;
    margin-top: 5vw;
  }
  #start-game{
    font-size: 25px;
    margin-left: 40vw;
    margin-top: -9vw;
  }
  #instructions-page{
    font-size: 15px;
    margin-left: 50vw;
  }
}
