*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.name-enter{
  background-color: gray;
  width: 100px;
}

p{
  font-style: normal;
  font-size: 30px;
}

input{
  width: 250px;
  height: 40px;
  border-radius: 20px;
}
body{
  text-align: center;
  background: url(https://wallpapers.com/images/hd/snake-game-1680-x-1050-background-6syqer1fr6oahe0b.jpg);
  background-size: 100% 100% 100%;
  background-repeat: no-repeat;
}

.container{
  margin-top: 15vw;
}

#play-button{
  border: 1px solid white;
  width: 150px;
  margin-left: 45vw;
  margin-top: 5vw; 
  color: white;
  background-color: gray;
}

